body {
  font-family: "Roboto", sans-serif;
  background: #f9f7fe;
}

a {
  color: #885df1;
  text-decoration: none;
}

.weather-app {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  padding: 30px;
  max-width: 600px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-field {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-button {
  background: #885df1;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  cursor: pointer;
  background: #875df1c7;
}

main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  margin: 0;
  font-size: 38px;
  line-height: 40px;
}

.current-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.current-details strong {
  color: #f65282;
}

.current-temperature {
  display: flex;
  padding-right: 10px;
}
.temperature-icon {
  font-size: 60px;
}
.temperature-value {
  font-size: 88px;
  font-weight: 600;
}
.temperature-unit {
  margin-top: 16px;
  font-size: 28px;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
